<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <header>
  <div class="container-fluid" style="background-color: lightgoldenrodyellow;">
    <div class="jumbotron text-center" style="background-color: lightgray;">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scape for Mars</a></p>
    </div>
  </div>  
  </header>

  <div class="container-fluid" style="background-color: orange;">
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <hr/>
        <h4 class="heading">{{mars_information['Mars_News'][0].title}}</h4>
        <p>{{mars_information['Mars_News'][0].paragraph}}</p>
        <small></small>
      </div>
    </div>
  </div>
  
  <div class="container-fluid" style="background-color: darkorange;">
    <div class="row" id="mars-photo">
      <div class="col-md-8">
        <h2>Mars Feature Image</h2>
        <hr/>
        <img src="{{mars_information['Mars_Photo']}}"/>
      </div>
      <div class="col-md-4">
        <h2>Mars Statistics</h2>
        <hr/>
        {{mars_information['Mars_Stats'][0]|safe}}
        <br>
        {{mars_information['Mars_Stats'][1]|safe}}
        <br>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: tomato;">
    <div class="row" id="mars-hemispheres">
      <div class="col-md-12">
        <h2>Mars Hemispheres</h2>
        <hr/>
        
        {% for dict in mars_information['Mars_Hemispheres'] %}
        <div class="col-md-3 text-center">
          <div class="card text-center">
            <img class="card-img-top text-center" id="scale_id" src="{{dict.img_url}}"/>
          </div>
          <br/>
          <caption> {{dict.title}} </caption>
        </div>
        {% endfor %}
        <hr/>
      </div>
    </div>
  </div>
</body>

</html>

